.main {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;

  background-image: url("../../shared/media/image/background_main.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Sensei";
}
.main-head {
  padding: 0 1%;
  padding-top: 1%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 24px;
}
.name-box {
  background-position: left;
  background-repeat: no-repeat;

  width: 440px;
  height: 120px;

  background-image: url("../../shared//media/image/namebox.png");
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-left: 3%;
  margin-left: -2%;
}
.main-avatar {
  background-color: #ffd185;
  border-radius: 100%;
  width: 60px;
  height: 60px;

  margin-bottom: 5%;
  margin-left: 5%;
}
.main-username {
  margin-left: 15%;
  margin-bottom: 5%;
  max-width: 150px;
  word-break: keep-all;
}
.main-title {
  color: #47525e;
  position: relative;
  width: 40%;
  height: 70px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #47525e;
  border-radius: 10px;
}

.main-setting-container {
  position: absolute;
  top: 2%;
  right: 2%;

  width: 80px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.main-setting {
  width: 60%;
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-menu-setting-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu-setting {
  position: relative;
  background-color: #d188a6;
  border: 1px solid #5a6978;
  width: 0%;
  height: 0%;
  border-radius: 15px;
  left: -0%;
  top: -0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  opacity: 0;
}
.main-menu-setting-item-btn {
  z-index: 99;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  width: 35%;
  height: 80%;
  font-family: "Sensei";
  font-size: 24px;
  border-radius: 15px;
  margin: 0 10px;
  outline: none;
  border: none;
  background-color: #f6d2e1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.main-menu-setting::before {
  content: "";
  background-color: #d188a6;
  width: 30px;
  height: 30px;
  border-top: 1px solid #5a6978;
  border-right: 1px solid #5a6978;
  position: absolute;
  transition: 0.5s;
  right: -15px;
  top: 12%;
  display: none;
  transform: rotate(45deg);
}
.main-setting:hover > .main-menu-setting {
  width: 450%;
  height: 300%;

  left: -500%;
  opacity: 1;
}
.main-setting:hover > .main-menu-setting::before {
  width: 30px;
  height: 30px;
  display: block;
}
.off {
  width: 100%;
  height: 5%;
  transform: rotate(35deg);
  background-color: black;
}
.main-body {
  display: flex;
  align-items: center;
  width: 100%;
  height: 72%;
  padding: 0 1%;
}
.friends-box {
  width: 180px;
  height: 100%;
  font-size: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../../shared//media//image/background_friendsbox.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: initial;
}
.friends-box div {
  margin-right: 30px;
  margin-top: 20px;
}
.friend {
  width: 80%;
  height: 20%;
  background-image: url("../../shared/media/image/background_sqare.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.friend-avatar{
  margin: 0 !important;
  width: 80px;
  height: 80px;
  background-color: #FFD185;
}
.waifu {
  width: 50%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main-control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 400px;
  width: 400px;

  background-image: url("../../shared//media//image/background_main_control.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-control-item {
  width: 100%;
  height: 25%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-repeat: no-repeat;

  font-family: "Sensei";
  font-size: 32px;
  transition: 0.3s;

  cursor: pointer;
}
.main-control-item:hover {
  color: white;
}

.main-foot {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .main-foot .copyright{
  margin: 0 !important;
} */
.visit-fanpage {
  position: absolute;
  width: 240px;
  height: 100px;
  right: 2%;
  bottom: 2%;


  font-size: 18px;
  padding-left: 10px;
  padding-top: 10px;

  background-image: url("../../shared/media/image/background_facebook.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.rooms{
  width: 100%;
  height: 100%;
}
.back-lobby{

  width: 80px;
  height: 80px;

  position: absolute;
  top: 2%;
  right: 2%;

  background-image: url("../../shared/media/image/background_setting.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.back-lobby-icon{
  width: 60%;
  height: 60%;
  
  background-image: url("../../shared/media/image/backlobby.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rooms-control{
  display: flex;
  padding-top: 5%;
  justify-content: space-evenly;
  justify-items: center;
}
.rooms-control div button{
  font-family: "Sensei" !important;
  font-size: 24px !important;
}
.find-box div input{
  background-color: rgb(70, 81, 93, 0.3) !important;
  color: white !important;
  font-family: "Sensei" !important;
  font-size: 24px !important;
}
.rooms-main{
  width: 100%;
  height: 50%;
  margin-top: 2%;
}
.rooms-main div{
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rooms-main div div {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-row{
  font-size: 20px;

  background-image: url("../../shared/media/image/background_titlerow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.item-row{
  font-size: 18px;

  background-image: url("../../shared/media/image/background_itemrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

