.main {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;

  background-image: url("../../shared/media/image/background_main.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Sensei";
}
.main-head {
  padding: 0 1%;
  padding-top: 1%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 24px;
}
.name-box {
  background-position: left;
  background-repeat: no-repeat;

  width: 330px;
  height: 82px;

  background-image: url("../../shared//media/image/namebox.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  cursor: pointer;
}
.main-avatar {
  background-color: #ffd185;
  border-radius: 100%;
  width: 60px;
  height: 60px;

  border: 2px solid #f7ae39;
  margin-bottom: 2%;
  margin-left: 5%;
}
.main-avatar div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
.main-username-id {
  margin: 2%;
}
.main-username-id div:first-child {
  border-bottom: 2px solid #7e55f3;
}
.main-username-id div {
  width: 150px;
  padding: 2px;
  text-align: center;
}
.main-title {
  color: #47525e;
  position: relative;
  width: 40%;
  height: 70px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #47525e;
  border-radius: 10px;
}

.main-setting-container {
  position: absolute;
  top: 2%;
  right: 2%;

  width: 80px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.main-setting {
  width: 60%;
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-menu-setting-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu-setting {
  position: relative;
  background-color: #d188a6;
  border: 1px solid #5a6978;
  width: 0%;
  height: 0%;
  border-radius: 15px;
  left: -0%;
  top: -0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  opacity: 0;
}
.main-menu-setting-item-btn {
  z-index: 99;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  width: 35%;
  height: 80%;
  font-family: "Sensei";
  font-size: 24px;
  border-radius: 15px;
  margin: 0 10px;
  outline: none;
  border: none;
  background-color: #f6d2e1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.main-menu-setting::before {
  content: "";
  background-color: #d188a6;
  width: 30px;
  height: 30px;
  border-top: 1px solid #5a6978;
  border-right: 1px solid #5a6978;
  position: absolute;
  transition: 0.5s;
  right: -15px;
  top: 12%;
  display: none;
  transform: rotate(45deg);
}
.main-setting:hover > .main-menu-setting {
  width: 450%;
  height: 300%;

  left: -500%;
  opacity: 1;
}
.main-setting:hover > .main-menu-setting::before {
  width: 30px;
  height: 30px;
  display: block;
}
.off {
  width: 100%;
  height: 5%;
  transform: rotate(35deg);
  background-color: black;
}
.main-body {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70%;
  padding: 0 1%;
  padding-left: 10%;
}
.friends-box {
  width: 100px;
  height: 80%;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-image: url("../../shared//media//image/background_friendsbox.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.friend {
  width: 75%;
  height: 18%;
  background-image: url("../../shared/media/image/background_sqare.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.friend-avatar {
  margin: 0 !important;
  width: 50px;
  height: 50px;
  background-color: #ffd185;
}
.waifu {
  width: 50%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main-control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 400px;
  width: 400px;

  background-image: url("../../shared//media//image/background_main_control.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-control-item {
  width: 100%;
  height: 25%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-repeat: no-repeat;

  font-family: "Sensei";
  font-size: 32px;
  transition: 0.3s;

  cursor: pointer;
}
.main-control-item:first-child {
  background-image: url("../../shared/media/image/button_green.png");
}
.main-control-item:last-child {
  background-image: url("../../shared/media/image/button_pink.png");
}
.main-control-item:hover {
  color: white;
}

.main-foot {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.visit-fanpage {
  position: absolute;
  width: 240px;
  height: 100px;
  right: 2%;
  bottom: 2%;

  font-size: 18px;
  padding-left: 10px;
  padding-top: 10px;

  background-image: url("../../shared/media/image/background_facebook.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.rooms {
  width: 100%;
  height: 100%;
}
.back-lobby {
  width: 80px;
  height: 80px;

  position: absolute;
  top: 2%;
  right: 2%;

  background-image: url("../../shared/media/image/background_setting.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.back-lobby-icon {
  width: 60%;
  height: 60%;

  background-image: url("../../shared/media/image/backlobby.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rooms-control {
  display: flex;
  padding-top: 5%;
  justify-content: space-evenly;
  justify-items: center;
}
.rooms-control button {
  width: 283px;
  height: 80px;
  font-family: "Sensei" !important;
  font-size: 24px !important;
  outline: none;
  border: none;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  transition: 0.3s;
}
.create-box {
  background: none;
  background-image: url("../../shared/media/image/button_create.png");
}
.quickplay-box {
  background: none;
  background-image: url("../../shared/media/image/button_quickplay.png");
}
.rooms-control button:hover {
  color: white;
}
.find-box div input {
  background-color: rgb(70, 81, 93, 0.3) !important;
  color: white !important;
  font-family: "Sensei" !important;
  font-size: 24px !important;
}
.rooms-main {
  width: 100%;
  height: 50%;
  margin-top: 2%;

  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.row div {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row div:first-child {
  border-right: 1px solid #fce2f2;
}
.row div:last-child {
  border-left: 1px solid #fce2f2;
}

.rooms-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: #f6d2e1;
  border-bottom: 3px solid black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.rooms-container::-webkit-scrollbar {
  display: none;
}
.rooms-title {
  font-size: 24px;
  height: 50px;
  background-color: #f480dd;
  border-top: 3px solid #e064c8;
  border-bottom: 3px solid black;
}
.rooms-item {
  font-size: 20px;
  height: 40px !important;
  background-color: #be5fc8;
  border-bottom: 3px solid white;
}

.item-row {
  font-size: 18px;
  display: flex;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal {
  background-color: rgba(255, 255, 255, 0.65) !important;
  border: 5px solid #e064c8 !important;
  width: 720px !important;
  height: 660px !important;
  display: flex;
  font-family: "Sensei";
  padding: 3%;
  display: flex;
  flex-direction: column;
}
.modal div {
  width: 100%;
}

.modal-head {
  font-size: 48px;
  border-bottom: 3px solid #f480dd;
  text-align: center;
  height: 15%;
}
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 65%;
  padding-top: 5%;
}
.modal-avatar-and-info {
  height: 100%;
  width: 100% !important;
  display: flex;
}
.modal-avatar-and-info div div {
  cursor: pointer;
}
.modal-avatar-and-info div:first-child {
  width: 75%;
  height: 100%;
  background-image: url("../../shared/media/image/background_sqare.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-avatar-and-info div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-avatar-and-info div:last-child div {
  width: 200px !important;
  height: 40px;
  background-image: url("../../shared/media/image/textbox.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 20px;
}
.modal-avatar-and-info div:first-child div {
  background-color: #ffd185;
  width: 80%;
  height: 80%;
  background-image: none;
}
.modal-avatar-and-info div div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-username-and-id {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 10px;
  width: 50% !important;
}
.modal-username-and-id div {
  text-align: start;
  font-size: 22px;
}
.modal-username-and-id div:first-child {
  border-bottom: 3px solid #7e55f3;
}
.modal-foot {
  padding-top: 5%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-foot button {
  outline: none;
  border: none;
  background: none;
  font-family: "Sensei";
  font-size: 24px;
  width: 200px;
  height: 66px;

  background-image: url("../../shared/media/image/button_modal.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: 0.3s;
}
.modal-foot button:hover {
  color: white;
}
.avatar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
}
.avatar-container div {
  background-color: #ffd185;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 130px;
  height: 130px;
  border-radius: 15px;
  transition: 0.2s;
  margin-bottom: 20px;
}
.input-modal {
  width: 55%;
  outline: none;
  background: none;
  border: none;
  font-family: "Sensei";
}
