body {
  padding: 0;
  margin: 0;
  font-family: "Sensei";
  overflow: hidden;
}
@font-face {
  font-family: "Sensei";
  src: url("./shared/font/Sensei-Medium.ttf") format("truetype");
}
.copyright {
  font-size: 20px;
  color: #77777f;
  margin-top: 2%;
}
.notification-messages {
  position: fixed;
  right: 2%;
  bottom: 2%;
  min-width: 200px;
  z-index: 1002;
}
.ui.message{
    margin-bottom: 20px !important;
}
.ui.message .header+p  {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  font-family: "Sensei" !important;
}
